/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Sagrada implementation : © Koen Heltzel <koenheltzel@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * sagrada.css
 *
 * Sagrada stylesheet
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (sagrada_sagrada.tpl), and to HTML elements you create dynamically
    (in sagrada.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

#pattern_selection {
    overflow: hidden;
    display:none;
    padding-bottom: 0px;
}

.pattern-sprite {
    float: left;
}

.board-block {
    width: 250px;
    height: 600px;
    display: inline-block;
}

.board-block .pattern-sprite {
    position: absolute;
    margin-top: 369px;
    z-index: 1;
    margin-left: 8px;
    height: 190px;
}

#roundtrack {
    width: 477px;
    height: 147px;
    background-image: url('img/round-track.png');
}

.board {
    width: 250px;
    height: 567px;
    position: absolute;
    z-index: 2;
}

.board-R {
    background-image: url('img/board-R.png');
}

.board-G {
    background-image: url('img/board-G.png');
}

.board-B {
    background-image: url('img/board-B.png');
}

.board-P {
    background-image: url('img/board-P.png');
}

.square {
    width: 32px;
    height: 32px;
    position: absolute;
    /*background-color: gray;*/
}

.legalPosition {
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #73AD21;
    margin-left: -2px;
    margin-top: -2px;
}

.die {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url('img/dice.png');
    background-opacity: 0.5;
}

.active_die {
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    margin-left: -2px;
    margin-top: -2px;
}

.die_R_1 {
    background-position: -0px -0px;
}

.die_R_2 {
    background-position: -33px -0px;
}

.die_R_3 {
    background-position: -66px -0px;
}

.die_R_4 {
    background-position: -99px -0px;
}

.die_R_5 {
    background-position: -132px -0px;
}

.die_R_6 {
    background-position: -165px -0px;
}

.die_Y_1 {
    background-position: -0px -33px;
}

.die_Y_2 {
    background-position: -33px -33px;
}

.die_Y_3 {
    background-position: -66px -33px;
}

.die_Y_4 {
    background-position: -99px -33px;
}

.die_Y_5 {
    background-position: -132px -33px;
}

.die_Y_6 {
    background-position: -165px -33px;
}

.die_G_1 {
    background-position: -0px -66px;
}

.die_G_2 {
    background-position: -33px -66px;
}

.die_G_3 {
    background-position: -66px -66px;
}

.die_G_4 {
    background-position: -99px -66px;
}

.die_G_5 {
    background-position: -132px -66px;
}

.die_G_6 {
    background-position: -165px -66px;
}

.die_B_1 {
    background-position: -0px -99px;
}

.die_B_2 {
    background-position: -33px -99px;
}

.die_B_3 {
    background-position: -66px -99px;
}

.die_B_4 {
    background-position: -99px -99px;
}

.die_B_5 {
    background-position: -132px -99px;
}

.die_B_6 {
    background-position: -165px -99px;
}

.die_P_1 {
    background-position: -0px -132px;
}

.die_P_2 {
    background-position: -33px -132px;
}

.die_P_3 {
    background-position: -66px -132px;
}

.die_P_4 {
    background-position: -99px -132px;
}

.die_P_5 {
    background-position: -132px -132px;
}

.die_P_6 {
    background-position: -165px -132px;
}


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
 
#draftpool-container {
    height: 60px;
    display: none;
}

.draftpool-die {
    cursor: pointer;
    display: block;
}

.pattern-blank {
    width: 233px;
    height: 205px;
    display: block;
    background-image: none !important;
    background-color: #222222;
}
.pattern-sprite {
    background-image: url('img/patterns.jpg');
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    margin-right:10px;
    margin-bottom:10px;
}

.pattern-sprite-1 {
    width: 233px;
    height: 206px;
    background-position: 0 0;
}

.pattern-sprite-10 {
    width: 233px;
    height: 206px;
    background-position: -233px 0;
}

.pattern-sprite-11 {
    width: 233px;
    height: 206px;
    background-position: -466px 0;
}

.pattern-sprite-12 {
    width: 233px;
    height: 206px;
    background-position: -699px 0;
}

.pattern-sprite-13 {
    width: 233px;
    height: 206px;
    background-position: 0 -206px;
}

.pattern-sprite-14 {
    width: 233px;
    height: 206px;
    background-position: -233px -206px;
}

.pattern-sprite-15 {
    width: 233px;
    height: 206px;
    background-position: -466px -206px;
}

.pattern-sprite-16 {
    width: 233px;
    height: 206px;
    background-position: -699px -206px;
}

.pattern-sprite-17 {
    width: 233px;
    height: 206px;
    background-position: 0 -412px;
}

.pattern-sprite-18 {
    width: 233px;
    height: 206px;
    background-position: -233px -412px;
}

.pattern-sprite-19 {
    width: 233px;
    height: 206px;
    background-position: -466px -412px;
}

.pattern-sprite-2 {
    width: 233px;
    height: 206px;
    background-position: -699px -412px;
}

.pattern-sprite-20 {
    width: 233px;
    height: 206px;
    background-position: 0 -618px;
}

.pattern-sprite-21 {
    width: 233px;
    height: 206px;
    background-position: -233px -618px;
}

.pattern-sprite-22 {
    width: 233px;
    height: 206px;
    background-position: -466px -618px;
}

.pattern-sprite-23 {
    width: 233px;
    height: 206px;
    background-position: -699px -618px;
}

.pattern-sprite-24 {
    width: 233px;
    height: 206px;
    background-position: 0 -824px;
}

.pattern-sprite-3 {
    width: 233px;
    height: 206px;
    background-position: -233px -824px;
}

.pattern-sprite-4 {
    width: 233px;
    height: 206px;
    background-position: -466px -824px;
}

.pattern-sprite-5 {
    width: 233px;
    height: 206px;
    background-position: -699px -824px;
}

.pattern-sprite-6 {
    width: 233px;
    height: 206px;
    background-position: -932px 0;
}

.pattern-sprite-7 {
    width: 233px;
    height: 206px;
    background-position: -932px -206px;
}

.pattern-sprite-8 {
    width: 233px;
    height: 206px;
    background-position: -932px -412px;
}

.pattern-sprite-9 {
    width: 233px;
    height: 206px;
    background-position: -932px -618px;
}

.publicobjective-sprite {
    background-image: url('img/publicobjectives.png');
    background-repeat: no-repeat;
    display: block;
    border-radius: 10px;
    margin-right:10px;
    margin-bottom:10px;
}

.publicobjective-sprite-1 {
    width: 191px;
    height: 265px;
    background-position: 0 0;
}

.publicobjective-sprite-10 {
    width: 191px;
    height: 265px;
    background-position: -191px 0;
}

.publicobjective-sprite-2 {
    width: 191px;
    height: 265px;
    background-position: -382px 0;
}

.publicobjective-sprite-3 {
    width: 191px;
    height: 265px;
    background-position: 0 -265px;
}

.publicobjective-sprite-4 {
    width: 191px;
    height: 265px;
    background-position: -191px -265px;
}

.publicobjective-sprite-5 {
    width: 191px;
    height: 265px;
    background-position: -382px -265px;
}

.publicobjective-sprite-6 {
    width: 191px;
    height: 265px;
    background-position: -573px 0;
}

.publicobjective-sprite-7 {
    width: 191px;
    height: 265px;
    background-position: -573px -265px;
}

.publicobjective-sprite-8 {
    width: 191px;
    height: 265px;
    background-position: 0 -530px;
}

.publicobjective-sprite-9 {
    width: 191px;
    height: 265px;
    background-position: -191px -530px;
}
